@import url("./shared/palette.css");

/* first section ***********************/

#first-section-img {
  display: flex;
  width: 85%;
  height: 85%;
  margin: 3% auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 3, 0.1);
  border-radius: 15px;
  background-image: url("./assets/computer.jpg");
  background-size: cover;
  background-position: center;
}

#first-section-text {
  width: 50%;
  margin: 20px;
  padding: 10px;
  margin-top: auto;
  text-align: start;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: var(--font-color-dark);
}

/* second section ***********************/

#second-section {
  margin: 3% auto;
  width: 85%;
  height: auto;
  flex-direction: column;
}

#latest-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 400px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 3, 0.1);
  flex: 1;
  margin: 15px;
  padding: 30px;
  background-color: var(--article-bg);
}

.article > p {
  min-height: 140px !important;
}

@media (max-width: 480px) {
  #container {
    margin: 0px !important;
  }
  #first-section {
    height: 40vh !important;
  }
  #first-section-img {
    width: 100% !important;
    margin: 10px !important;
  }
  #first-section-text {
    width: 100% !important;
    margin: 10px !important;
  }
}

@media (max-width: 959px) {
  #container {
    margin: 0px !important;
  }
  .article-pic {
    display: none !important;
  }
}

/* この CSS は画像設定用です */
#panasonic-pic {
  background-image: url("./assets/Let'sNote製品紹介.png") !important;
}

#logicool-pic {
  background-image: url("./assets/logicool.jpg") !important;
}

#alienware-pic {
  background-image: url("./assets/学部実習課題　Alienware 背景.jpg") !important;
}

.article-pic {
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  flex: 1;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 3, 0.1);
}

.article:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.article:hover:active {
  transform: scale(1);
}

@media (max-width: 960px) {
  #latest-articles {
    flex-direction: column;
  }
}
