@import url("./shared/palette.css");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header ***********************/

#top-header {
  display: flex;
  height: 60px;
  border-bottom: 1px solid var(--border-color);
}

#header-title {
  margin: auto auto auto 15px;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

#nav-links {
  display: flex;
  margin: auto 15px;
  min-height: 100%;
}

.navLink {
  margin: auto 10px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  background-color: var(--button-bg);
  padding: 10px;
  text-align: center;
}

/* first section ***********************/

#first-section {
  display: flex;
  height: 100vh;
  width: 100%;
}

#first-section-img {
  width: 85%;
  height: 65%;
  margin: 3% auto;
  border-radius: 15px;
  background-image: url("./assets/computer.jpg");
  background-size: cover;
  background-position: center;
}
