:root {
  --primary-white: #fff;
  --font-color-light: #f0f0f0;
  --border-color: #e0e0e0;
  --button-bg: #f0f0f0;
  --footer-bg: #141414;

  --yellow-bg: rgba(255, 166, 0, 0.603);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-white: #2b2a26 !important;
    --font-color-light: #ffffff !important;
    --border-color: #363232 !important;
    --button-bg: #484848 !important;
    --footer-bg: #1e1e1e !important;

    --yellow-bg: rgba(255, 166, 0, 0.603) !important;
  }
}
