@import url("../shared/blog-template.css");

/* トップに表示される写真 */
#main-pic {
  background: url("../assets/logicool.jpg") no-repeat;
}

/* ブログの内容のための CSS をこの下に */


.sub-title {
  border-bottom-style:solid;
  
}

h1 {
  color:rgb(51, 204, 204)
}